.greenColor{
    color: #11bb67;
}

.dateInput{
    width: 80%;
    height: 3em;
}

.numberInput{
    width: 2rem;
    height: 2rem;
}

.checkboxInput{
    width: 1.1rem;
    height: 1.1rem;
}

.btnIncrease,
.btnDecrease{
    color: #11bb67;
    border: 1px solid #AFB3B0;
}

.btnIncrease:hover,
.btnDecrease:hover{
    color: white;
    background-color: #11bb67;
}

.totalCostPart{
    border-top: 1px solid;
    border-top-color: #11bb67;
    font-size: 1.5rem;
    font-weight: bold;
}

.bookingPackage{
    background-color: #F3F8F6;
}

.toursDetailsPartTitle{
    background-color: #11bb67;
}

.proceedButton{
    background-color: #11bb67;
    color: white;
    margin: 0 auto;
}

.proceedButton:hover{
    background-color: #0a5d33;
    color: white;
}